*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(135deg, #141E30, #243B55);
}

.heading{
    color: wheat;
    padding-top: 1.5rem;
    margin:auto;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.container{
    width: 100vw;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 32vw;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
}

.calculator:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
}


.display{
    background-color: rgb(135, 174, 226);
    height: 18vh;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.input{
    height: 50%;
    padding: 1rem;
    text-align: left;
    font-size: 2rem;
}

.result{
    height: 40%;
    padding: 1rem;
    text-align: right;
    font-size: 2rem;
}

.buttons{
    margin: 2rem;
}
.buttons-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}

.buttons-grid button{
  padding: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.7rem;
  font-weight: 600;
}

.buttons-grid button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
    transform: translateY(-3px); 
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; 
}


.buttons-grid button:active {
    transform: translateY(0px); 
    box-shadow: none; 
}

.operator{
    background-color: rgb(153, 186, 228);
}
.number{
    background-color: rgb(214, 224, 238);
}
.operator:hover{
    background-color: rgb(133, 170, 218);
}
.number:hover{
    background-color: rgb(192, 207, 226);
}
.Enter{
    background-color: rgb(98, 147, 216);
    grid-column: span 2;
}
.Enter:hover{
    background-color: rgb(77, 127, 196);
}

@media (max-width:1340px){
    .heading{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .calculator{
        width: 50vw;
        height: auto;
    }
    .conatainer{
        height: 80vh;
    }
}
@media (max-width:1024px){
    .heading{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .conatainer{
        height: 70vh;
    }
    .calculator{
        width: 90vw;
        height: auto;
    }
    .result{
        padding-bottom: 1.8rem;
      font-size: 1.6rem;
      }
}
@media (max-width: 470px) {
    .heading{
        font-size: 1rem;
    }
    .calculator{
        height: auto;
        width: 90vw;
    }
    .buttons-grid button{
        padding: 0.4rem;
        border: none;
        border-radius: 20px;
        font-size: 1.3rem;
        font-weight: 600;
      }
      .buttons{
        margin: 1rem;
    }
    .result{
      padding-bottom: 1.5rem;
    font-size: 1.5rem;
    }
}



